<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nattojourney</title>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="scss/stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="profile">
            <h2>プロフィール編集</h2>
            <% @user.errors.full_messages.each do |message| %>
                <div class="form-error">
                  <%= message %>
                </div>
            <% end %>
            <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
                <div>
                    <label>ユーザーネーム</label>
                    <textarea class="inputname" name="name"><%= @user.name %></textarea>
                </div>
                <div>
                    <label>プロフィール画像</label>
                    <input type="file" id="userimg" name="image">
                </div>
                <input type="submit" class="button" value="更新">
            <% end %>
            <a href="/users/#{user.id}">マイページにもどる</a>
        </div>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>