<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nattojourney</title>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="scss/stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="cardshow">
            <div class="card">
                <p>納豆菌は増殖するときに、大豆のタンパク質を分解し吸収しやすくするとともに、各種ビタミンや酵素類などをつくりだす！</p>
                <img src="/card/card1.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆の発酵は、みそや醤油などとことなり短時間！（およそ20～22時間）</p>
                <img src="/card/card2.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆は製造開始から出荷まで、最短で3日程度！</p>
                <img src="/card/card3.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆用大豆は小粒、極小粒がおおく使われている！豆の表面積が大きくなるため、納豆菌がつくる粘質物やうまみの量もおおくなる。</p>
                <img src="/card/card4.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>あらった大豆は水にひたされる。水を十分に吸収させることで、つぎの蒸煮工程で熱のとおりをよくし、煮豆の風味やかたさなどを均一にしあげることができる！</p>
                <img src="/card/card5.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>浸漬時間は、水温が15度程度であれば17～18時間くらい、25度程度であれば7～8時間くらいが目安とされている！</p>
                <img src="/card/card6.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>蒸煮によって、納豆菌が栄養をとりやすく、増殖しやすい環境になる。また、納豆菌がつくりだすさまざまな酵素類が浸透し、大豆の成分を分解しやすい状態になる！</p>
                <img src="/card/card7.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>培養した納豆菌は、蒸煮後の煮豆に噴霧して煮豆の表面に付着させる！雑菌の混入をふせぐため、煮豆の温度が70～90度くらいで接種するのが理想的。</p>
                <img src="/card/card8.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>発酵容器（発泡スチロール、紙カップ、ポリ袋、経木など）には、雑菌の混入をふせぐため、煮豆があついうちに充填する！</p>
                <img src="/card/card9.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆菌は増殖に酸素が必要！そのため、あまりつよくおさえこまずに容器にもりこみ、豆の間に適度な隙間があるようにする。市販の納豆容器の底面が凸凹になっているのも、こうした工夫から。</p>
                <img src="/card/card10.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>発酵容器にもりこんだ大豆は発酵室にいれ、38～42度で16～24時間じっくりとねかせて発酵させる！</p>
                <img src="/card/card11.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>発酵室からとりだした製品は、温度をさげて発酵をとめるとともに、除湿を行う。容器内に納豆菌がつくりだした代謝ガスをとりのぞく効果もある。室温程度までさがったら冷蔵室へ。</p>
                <img src="/card/card12.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>発泡スチロール容器にくらべ保温性におとる紙カップ、経木などは、発酵するとき納豆菌がつくる熱が容器のそとにもれ、大豆の温度があがらず十分な発酵が行われない。容器による温度、湿度の調整が行われている！</p>
                <img src="/card/card13.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>発酵後の納豆は温度がさがったあとに冷蔵し、発酵でふえた納豆菌を通常5度以下で休眠させる（＝熟成）。</p>
                <img src="/card/card14.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>中国大陸から稲の栽培法が伝来する縄文時代のおわりごろには、すでに納豆のようなたべものは出現していたという説も！</p>
                <img src="/card/card15.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆にちかい中国のたべものとして、北京語で「豆」（タチオ）とよぶものがある。色はくろく塩気がきいており、かわいたものやべっとりとしめったものも。においはみそ風ながらアンモニヤ臭のあるものないもの、千差万別。</p>
                <img src="/card/card16.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆菌は、学名を「バチルス・ナットウ」といい、枯草菌の一種。枯草はもちろん、土のなかや稲の切りかぶ、空気中と、日本中どこにでも生息している！（日本産の稲ワラ1本には、ほぼ1000万個の納豆菌が胞子の状態で付着している。）</p>
                <img src="/card/card17.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>ビタミンB2は大豆100グラム中に0.3ミリグラム含まれているが、納豆にすると0.56ミリグラムにふえる！納豆によっては3倍にも4倍にも。</p>
                <img src="/card/card18.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>ビタミンK2は大豆にはほとんどなく、納豆菌が増産している！</p>
                <img src="/card/card19.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>「水戸納豆」が有名なのは、もともと納豆づくりが盛んであったこと、納豆が江戸にでまわっていたことを知った水戸の笹沼清左右衛門という人が、納豆を水戸の名物にしようと製造にのりだしたこと、明治20年代に鉄道が敷設されたことからといわれている。</p>
                <img src="/card/card20.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆はふるくなると、水にとけないアミノ酸の結晶がでてくるが、たべてもさしつかえない。</p>
                <img src="/card/card21.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>糸引き納豆は「丸大豆納豆」「挽き割り納豆」「五斗納豆」の3つ！「丸大豆納豆」は大豆をまるごと煮て納豆菌で発酵。「挽き割り納豆」は大豆を炒ってあらく挽き、表皮をとりのぞいてから煮る。「五斗納豆」は挽き割り納豆に麹や塩をまぜ、樽にしこみ熟成させる。</p>
                <img src="/card/card22.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆という名前は、寺の納所（台所）でつくられたことに由来するといわれている。</p>
                <img src="/card/card23.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆には、ネバネバした糸をひく「糸引き納豆」と、糸をひかない「寺納豆」（塩辛納豆、浜納豆）がある。</p>
                <img src="/card/card24.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
            <div class="card">
                <p>納豆は、1～7日くらいがたべごろ。</p>
                <img src="/card/card25.png" alt="なっ豆知識イラスト">
            </div>
            <div class="backtomypage"><a href="/users/#{user.id}">マイページにもどる</a></div>
        </div>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>