<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nattojourney</title>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="scss/stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="result_AAAA" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>わらづつみ納豆</h3>
                <img src="/wara.jpeg" alt="納豆画像">
                <a href="/index#natto23">詳細をみる！</a>
            </div>
        </div>
        <div id="result_AAAB" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>お伊勢まいり納豆</h3>
                <img src="/ise.jpeg" alt="納豆画像">
                <a href="/index#natto15">詳細をみる！</a>
            </div>
        </div>
        <div id="result_AABA" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>はなまる納豆極小粒</h3>
                <img src="/hana.jpeg" alt="納豆画像">
                <a href="/index#natto25">詳細をみる！</a>
            </div>
        </div>
        <div id="result_AABB" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>元気納豆 九州本仕込み</h3>
                <img src="/hon.jpeg" alt="納豆画像">
                <a href="/index#natto21">詳細をみる！</a>
            </div>
        </div>
        <div id="result_ABAA" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>国産 くろめ納豆</h3>
                <img src="/kuro.jpeg" alt="納豆画像">
                <a href="/index#natto24">詳細をみる！</a>
            </div>
        </div>
        <div id="result_ABAB" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>SELECTシリーズ大粒玉ねぎ</h3>
                <img src="/tama.jpeg" alt="納豆画像">
                <a href="/index#natto16">詳細をみる！</a>
            </div>
        </div>
        <div id="result_ABBA" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>発酵柚子こうじみそだれ小粒納豆</h3>
                <img src="/yuzu.jpeg" alt="納豆画像">
                <a href="/index#natto19">詳細をみる！</a>
            </div>
        </div>
        <div id="result_ABBB" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>【特選納豆】NATTO ピスタチオ</h3>
                <img src="/pis.jpeg" alt="納豆画像">
                <a href="/index#natto18">詳細をみる！</a>
            </div>
        </div>
        <div id="result_BAAA" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>富士納豆</h3>
                <img src="/fuji.jpeg" alt="納豆画像">
                <a href="/index#natto11">詳細をみる！</a>
            </div>
        </div>
        <div id="result_BAAB" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>しもにた大粒</h3>
                <img src="/simo.jpeg" alt="納豆画像">
                <a href="/index#natto8">詳細をみる！</a>
            </div>
        </div>
        <div id="result_BABA" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>天狗納豆</h3>
                <img src="/ten.jpeg" alt="納豆画像">
                <a href="/index#natto7">詳細をみる！</a>
            </div>
        </div>
        <div id="result_BABB" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>くまなっとう</h3>
                <img src="/kuma.jpeg" alt="納豆画像">
                <a href="/index#natto1">詳細をみる！</a>
            </div>
        </div>
        <div id="result_BBAA" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>ナットウジャーキー木桶しょうゆ</h3>
                <img src="/zyaki.jpeg" alt="納豆画像">
                <a href="/index#natto9">詳細をみる！</a>
            </div>
        </div>
        <div id="result_BBAB" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>甲斐駒</h3>
                <img src="/kai.jpeg" alt="納豆画像">
                <a href="/index#natto12">詳細をみる！</a>
            </div>
        </div>
        <div id="result_BBBA" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>すずかおり</h3>
                <img src="/suzu.jpeg" alt="納豆画像">
                <a href="/index#natto4">詳細をみる！</a>
            </div>
        </div>
        <div id="result_BBBB" class="match" style="display:none;">
            <h2>あなたにおすすめの納豆は…これだ！</h2>
            <div class="anim">
                <h3>オーツ麦入り国産大豆ひきわり納豆</h3>
                <img src="/otu.jpeg" alt="納豆画像">
                <a href="/index#natto3">詳細をみる！</a>
            </div> 
        </div>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>