<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nattojourney</title>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="scss/stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="question1" class="matching matching1">
            <h2>あなたにぴったりの納豆は…？</h2>
            <h4>きになるほうをえらんでね！</h4>
            <div>
                <h3>南のほうの納豆 or 北のほうの納豆</h3>
                <ul>
                    <li><input type="button" class="button" onclick="selectOption(1, 'A')" value="南"></li>
                    <li><input type="button" class="button" onclick="selectOption(1, 'B')" value="北"></li>
                </ul>
            </div>
            <div class="nattomini">
                <img class="nattomini1" src="/natto-mini.png" alt="納豆">
                <img class="ito1" src="/ito.png" alt="糸">
                <img class="nattomini2" src="/natto-mini.png" alt="納豆">
                <img class="ito2" src="/ito.png" alt="糸">
                <img class="nattomini3" src="/natto-mini.png" alt="納豆">
                <img class="ito3" src="/ito.png" alt="糸">
            </div>
        </div>
        <div id="question2" class="matching matching2" style="display:none;">
            <h2>あなたにぴったりの納豆は…？</h2>
            <h4>きになるほうをえらんでね！</h4>
            <div>
                <h3>王道 or かわりだね</h3>
                <ul>
                    <li><input type="button" class="button" onclick="selectOption(2, 'A')" value="王道"></li>
                    <li><input type="button" class="button" onclick="selectOption(2, 'B')" value="かわりだね"></li>
                </ul>
            </div>
            <div class="nattomini">
                <img class="nattomini1" src="/natto-mini.png" alt="納豆">
                <img class="ito1" src="/ito.png" alt="糸">
                <img class="nattomini2" src="/natto-mini.png" alt="納豆">
                <img class="ito2" src="/ito.png" alt="糸">
                <img class="nattomini3" src="/natto-mini.png" alt="納豆">
                <img class="ito3" src="/ito.png" alt="糸">
            </div>
        </div>
        <div id="question3" class="matching matching3" style="display:none;">
            <h2>あなたにぴったりの納豆は…？</h2>
            <h4>きになるほうをえらんでね！</h4>
            <div>
                <h3>大粒 or 小粒</h3>
                <ul>
                    <li><input type="button" class="button" onclick="selectOption(3, 'A')" value="大粒"></li>
                    <li><input type="button" class="button" onclick="selectOption(3, 'B')" value="小粒"></li>
                </ul>
            </div>
            <div class="nattomini">
                <img class="nattomini1" src="/natto-mini.png" alt="納豆">
                <img class="ito1" src="/ito.png" alt="糸">
                <img class="nattomini2" src="/natto-mini.png" alt="納豆">
                <img class="ito2" src="/ito.png" alt="糸">
                <img class="nattomini3" src="/natto-mini.png" alt="納豆">
                <img class="ito3" src="/ito.png" alt="糸">
            </div>
        </div>
        <div id="question4" class="matching matching4" style="display:none;">
            <h2>あなたにぴったりの納豆は…？</h2>
            <h4>きになるほうをえらんでね！</h4>
            <div>
                <h3>こいめ or あっさりめ</h3>
                <ul>
                    <li><input type="button" class="button anim-button" onclick="selectOption(4, 'A')" value="こいめ"></li>
                    <li><input type="button" class="button anim-button " onclick="selectOption(4, 'B')" value="あっさりめ"></li>
                </ul>
            </div>
            <div class="nattomini">
                <img class="nattomini1" src="/natto-mini.png" alt="納豆">
                <img class="ito1" src="/ito.png" alt="糸">
                <img class="nattomini2" src="/natto-mini.png" alt="納豆">
                <img class="ito2" src="/ito.png" alt="糸">
                <img class="nattomini3" src="/natto-mini.png" alt="納豆">
                <img class="ito3" src="/ito.png" alt="糸">
            </div>
        </div>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>